img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  h2 {
    display: block;
    text-align: center;
    margin-right: auto;
    font-family: 'Broadway';
  }
